.social-icons {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 25%;
     transition: all .4s ease;
     opacity: 0;
     pointer-events: none;
}

.product:hover .social-icons {
     pointer-events: all;
     right: 50px;
     opacity: 1;
}

.icons {
     background-color: white;
     width: 45px;
     height: 45px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 19px;
     transition: all .9s ease;
}

.icons:hover {
     background-color: black;
     color: white;
     opacity: 1;
}

.product-cart {
     width: 100%;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     transition: all .4s ease;
     pointer-events: none;
     opacity: 0;
}

.product:hover .product-cart {
     bottom: 40px;
     pointer-events: all;
     opacity: 1;
}

.cart {
     display: flex;
     justify-content: center;
     align-items: center;
}

.cart-button {
     background-color: black;
     color: white;
     font-weight: 400;
     font-size: 20px;
     padding: 10px 20px;
     border-radius: 5px;
     border: 1px solid black;
     transition: all .9s ease;
}

.cart-button:hover {
     background-color: white;
     color: black;
}